$borderColor: #5ca4d6;
$blue: #81bce5;
$pink: #d583ac;
$yellow: #deb17e;
$green: #8bb992;

.itemContainer .colors {
  .blue {
    color: $blue;
  }
  .pink {
    color: $pink;
  }
  .yellow {
    color: $yellow;
  }
  .green {
    color: $green;
  }
}
.bottomContainer {
  li.blue.colors {
    color: $blue;
  }
  li.pink.colors {
    color: $pink;
  }
  li.yellow.colors {
    color: $yellow;
  }
}

@media only screen and (max-width: 900px) {
  .topContainer .flipContainer {
    height: 28vw;
  }
  .itemContainer {
    margin: 2%;
    width: 29%;
  }
  ul.size {
    left: 35%;
    width: 9vw;
  }
  ul.colors {
    right: 12%;
    width: 10vw;
    margin-top: -66px;
  }
}

@media only screen and (max-width: 600px) {
  .topContainer .flipContainer {
    height: 45vw;
  }
  .itemContainer {
    margin: 2%;
    width: 45%;
  }
  ul.size {
    width: 14vw;
  }
  ul.colors {
    right: 16%;
    width: 13vw;
    margin-top: -66px;
  }
}
