/*
==========================
Box
==========================
*/
body {
  margin: 1%;
}
.container {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: visible;
}
.box {
  position: relative;
  float: left;
  width: 98%;
  /*background-color: none;*/
  /*box-sizing: border-box;*/
  overflow: visible;
  /*margin: 1%;*/
  border: .15em solid #5ca4d6;
}
.wrapper {
  margin: 1%;
  width: 31%;
  float: left;
  /*background-color: none;*/
  position: relative;
  /*display: inline-block;*/
  box-sizing: border-box;
  overflow: visible;
}
img {
  width: 80%;
  padding: 10%;
  overflow: auto;
}
/*
==========================
Navigation Menu
==========================
*/
ul {
  padding: 0;
  list-style: none;
  background-color: none;
  margin: 0;
  position: relative;
  float: left;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-top: .15em solid #5ca4d6;
}
ul li {
  float: left;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  border-left: .15em solid #5ca4d6;
}
ul li:first-of-type {
  border-left: none;
}
ul li i {
  background-color: none;
  position: relative;
  top: 24%;
  left: 35%;
  color: #5ca4d6;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
}
.rotate {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2%;
  color: #5ca4d6;
  font-size: 1em;
  border-bottom: .15em solid #5ca4d6;
  border-left: .15em solid #5ca4d6;
}
i#blue {
  color: #81bce5;
}
i#pink {
  color: #d583ac;
}
i#yellow {
  color: #deb17e;
}
div li.color i {
  position: absolute;
  line-height: 1;
  top: 13%;
  left: 30%;
  width: 21px;
  height: 21px;
  font-size: 21px;
  border: 3px solid #fff;
}
/*
==========================
Navigation Menu Hover
==========================
*/
ul li:hover {
  background-color: #5ca4d6;
}
li:hover i {
  color: white;
}
.rotate:hover {
  background-color: #5ca4d6;
}
.rotate i:hover {
  color: white;
}
/*
==========================
Footer
==========================
*/
footer {
  color: #5ca4d6;
  width: 100%;
  padding: 0 1% 0;
  bottom: -10%;
  box-sizing: border-box;
  background-color: none;
}
footer p {
  font-size: 1.2em;
  font-family: sans-serif;
  float: left;
  margin: 1%;
}
footer p:last-child {
  float: right;
  font-weight: bold;
}
/*
==========================
Media Query
==========================
*/

@media screen and (max-width: 480px) {
  .wrapper {
    float: left;
    width: 95%;
    clear: both;
  }
}
