/*
==========================
Box
==========================
*/

.box {
  border-left: .15em solid #5ca4d6;
  border-right: .15em solid #5ca4d6;
  border-top: .15em solid #5ca4d6;
  float: left;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}
.wrapper {
  box-sizing: border-box;
  float: left;
  margin: 1%;
  overflow: visible;
  position: relative;
  width: 31%;
}
img {
  overflow: auto;
  padding: 10%;
  width: 80%;
}
/*
==========================
Navigation Menu
==========================
*/
.rotate {
  border-bottom: .15em solid #5ca4d6;
  border-left: .15em solid #5ca4d6;
  color: #5ca4d6;
  font-size: 1em;
  padding: 2%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
nav > ul {
  border: .15em solid #5ca4d6;
  float: left;
  height: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.navMenu > li {
  border-left: .15em solid #5ca4d6;
  box-sizing: border-box;
  float: left;
  height: 100%;
  margin: 0;
  position: relative;
  width: 20%;
}
.navMenu li:first-of-type {
  border-left: none;
}
i.fa {
  font-size: 20px;
}
nav ul > li i {
  background-color: none;
  color: #5ca4d6;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  left: 35%;
  position: relative;
  top: 24%;
}

.blue {
  color: #81bce5;
}
.pink {
  color: #d583ac;
}
.yellow {
  color: #deb17e;
}
.green {
  color: #8bb992;
}
.navMenu li.color i {
  background-color: #81bce5;
  border: 3px solid #fff;
  font-size: 21px;
  height: 25px;
  left: 30%;
  position: absolute;
  top: 10%;
  width: 25px;
}
.navMenu ul li:hover i {
  color: white;
}
/*
==========================
Navigation Menu Hover
==========================
*/
ul li:hover {
  background-color: #5ca4d6;
}
li:hover i {
  color: white;
}
.rotate:hover {
  background-color: #5ca4d6;
}
.rotate:hover i {
  color: white;
}
.icon-t-shirt:hover {
  color: white;
}
/*
==========================
Shirt Size Sub-Menu
==========================
*/
ul.sizeSubMenu {
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  bottom: 150%;
  left: -12%;
  list-style: none;
  border: solid 2px #5ca4d6;
  width: 120%;
  text-align: center;
  transition: all .4s ease;
  opacity: 0;
}
.sizeSubMenu li {
  float: none;
  background-color: white;
  width: 100%;
  font-family: sans-serif;
}
li.icon-t-shirt {
  height: 50px;
}
span.xlarge {
  float: left;
  position: relative;
  top: 42%;
  left: 43%;
}
span.large {
  position: relative;
  top: 36%;
  float: left;
  left: 47%;
}
span.medium {
  float: left;
  position: relative;
  top: 30%;
  left: 45%;
}
span.small {
  float: left;
  position: relative;
  top: 25%;
  left: 45%;
}
.sizeSubMenu li:nth-child(1):before {
  font-size: 35px;
  position: relative;
  top: 20%;
  left: -8%;
}
.sizeSubMenu li:nth-child(2):before {
  font-size: 30px;
  position: relative;
  top: 20%;
  left: -2%;
}

.sizeSubMenu li:nth-child(3):before {
  font-size: 25px;
  position: relative;
  top: 20%;
  left: -5%;
}
.sizeSubMenu li:nth-child(4):before {
  font-size: 20px;
  position: relative;
  top: 17%;
  left: -4%;
}
.icon-t-shirt {
  color: #5ca4d6;
  font-size: 12px;
}
.sizeSubMenu .triangleBorder {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #5ca5d6;
  position: absolute;
  top: 200px;
  left: 40%;
}
.sizeSubMenu .triangeInset {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  position: absolute;
  top: 200px;
  left: 42%;
}

.colorSubMenu .triangeInset {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  position: absolute;
  top: 87px;
      left: 41%;
}
.colorSubMenu .triangleBorder {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #5ca5d6;
  position: absolute;
  top: 87px;
  left: 38%;
}
/*
==========================
Shirt Color Sub-Menu
==========================
*/


ul.colorSubMenu {
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: white;
  list-style: none;
  border: solid 2px #5ca4d6;
  height: 220%;
  width: 120%;
  left: -12%;
  bottom: 150%;
  transition: all .4s ease;
  opacity: 0;
}
.colorSubMenu li:first-child {
  top: 0;
  left: 0;
}
.colorSubMenu li:nth-child(2) {
  top: 0;
  right: 0;
}
.colorSubMenu li:nth-child(3) {
  bottom: 0;
  left: 0;
}
.colorSubMenu li:nth-child(4) {
  bottom: 0;
  right: 0;
}
.colorSubMenu li {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
}
.colorSubMenu span {
  position: absolute;
  font-size: 2em;
}
span.blue {
  left: 20%;
}
span.pink {
  right: 20%;
}
span.yellow {
  left: 20%;
  bottom: 10%;
}
span.green {
  right: 20%;
  bottom: 10%;
}

/*
==========================
Footer
==========================
*/
footer {
  width: 100%;
  padding: 0 1% 0;
  bottom: -10%;
  box-sizing: border-box;
  background-color: none;
}
footer p {
  color: #5ca4d6;
  font-size: 1.2em;
  font-family: sans-serif;
  float: left;
  margin: 1%;
}
footer p:last-child {
  float: right;
  font-weight: bold;
}
/*
==========================
Transform
==========================
*/
li#size:hover ul.sizeSubMenu {
  transform: translate(0, 19px);
  opacity: 1;
}
.color:hover ul.colorSubMenu {
  transform: translate(0, 19px);
  opacity: 1;
}
/*
==========================
Shirt Flip
==========================
*/
.flipContainer {
  perspective: 1000;
}
.flipper {
  transform-style: preserve-3d;
  transition: all 1s ease;
  position: relative;
}

.rotate:hover ~ div.flipContainer .flipper {
  transform: rotateY(180deg);
}
.flipContainer, .front, .back {
  position: relative;
  width: 100%;
  height: 360px;

}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
div.front {
  z-index: 2;
  transform: rotateY(0deg);
}
div.back {
  transform: rotateY(180deg);
}
#navMenu li.color i#blue {
  background-color: #81bce5;
}
#navMenu li.color i#pink {
  background-color: #d583ac;
}
#navMenu li.color i#yellow {
  background-color: #deb17e;
}
/*
==========================
Media Query
==========================
*/

@media screen and (max-width: 480px) {
  .wrapper {
    float: left;
    width: 95%;
    clear: both;
  }
}
